:root { 
    --board-witdth: 250px;
}

/* reset */
* {
    padding: 0;
    margin: 0;
}

/* utility */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    width: calc(var(--board-witdth)/3);
    height: calc(var(--board-witdth)/3);
    font-size: 20px;
    vertical-align: middle;
}
.container {
    text-align: center;
}

/* Board  */

#board {
    width: var(--board-witdth);
}

