:root { 
    --board-witdth: 250px;
}

/* reset */
* {
    padding: 0;
    margin: 0;
}

/* utility */
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    width: calc(var(--board-witdth)/3);
    height: calc(var(--board-witdth)/3);
    font-size: 20px;
    vertical-align: middle;
}
.container {
    text-align: center;
}

/* tags */
label {
    width: 70px;
    text-align: right;
}

/* Board  */
.main {
    margin: 0 auto;
}

.details {
    width: min-content;
    gap: 24px;
}
#board {
    width: var(--board-witdth);
}

